
 /* Animation to Slide Up */
 .anim_slideup {
    animation-name: keyframe_slideup;
    -webkit-animation-name: keyframe_slideup;  
    -moz-animation-name: keyframe_slideup;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    -moz-transition-timing-function: ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    visibility: visible;      
}

.anim_slideup:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_slideup:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_slideup:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_slideup:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_slideup:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_slideup:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_slideup:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_slideup:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_slideup:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_slideup:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_slideup:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_slideup:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_slideup:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_slideup:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_slideup:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_slideup:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_slideup:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_slideup:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_slideup:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_slideup:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_slideup {
  0% {
    opacity: 0;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);

  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  } 
}
@-webkit-keyframes keyframe_slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes keyframe_slideup {
  0% {
    opacity: 0;
    -moz-transform: translateY(5%);
  } 
  100% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
}



 /* Animation to Slide Down */
 .anim_slidedown {
    animation-name: keyframe_slidedown;
    -webkit-animation-name: keyframe_slidedown;  
    -moz-animation-name: keyframe_slidedown;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    -moz-transition-timing-function: ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    visibility: visible;      
}

.anim_slidedown:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_slidedown:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_slidedown:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_slidedown:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_slidedown:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_slidedown:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_slidedown:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_slidedown:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_slidedown:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_slidedown:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_slidedown:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_slidedown:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_slidedown:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_slidedown:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_slidedown:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_slidedown:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_slidedown:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_slidedown:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_slidedown:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_slidedown:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_slidedown {
  0% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);

  } 
  100% {
    opacity: 0;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
  } 
}
@-webkit-keyframes keyframe_slidedown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translateY(5%);
  }
}
@-moz-keyframes keyframe_slidedown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0%);
  } 
  100% {
    opacity: 0;
    -moz-transform: translateY(5%);
  }
}

 /* Animation to Slide Right */
 .anim_slideright {
    animation-name: keyframe_slideright;
    -webkit-animation-name: keyframe_slideright;  
    -moz-animation-name: keyframe_slideright;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    -moz-transition-timing-function: ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    visibility: visible;      
}

.anim_slideright:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_slideright:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_slideright:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_slideright:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_slideright:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_slideright:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_slideright:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_slideright:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_slideright:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_slideright:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_slideright:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_slideright:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_slideright:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_slideright:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_slideright:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_slideright:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_slideright:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_slideright:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_slideright:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_slideright:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_slideright {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);

  } 
  100% {
    opacity: 0;
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
  } 
}
@-webkit-keyframes keyframe_slideright {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translateX(5%);
  }
}
@-moz-keyframes keyframe_slideright {
  0% {
    opacity: 1;
    -moz-transform: translateX(0%);
  } 
  100% {
    opacity: 0;
    -moz-transform: translateX(5%);
  }
}


/* Animation to Slide Left */
.anim_slideleft {
    animation-name: keyframe_slideleft;
    -webkit-animation-name: keyframe_slideleft;  
    -moz-animation-name: keyframe_slideleft;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    -moz-transition-timing-function: ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    visibility: visible;      
}

.anim_slideleft:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_slideleft:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_slideleft:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_slideleft:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_slideleft:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_slideleft:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_slideleft:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_slideleft:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_slideleft:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_slideleft:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_slideleft:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_slideleft:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_slideleft:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_slideleft:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_slideleft:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_slideleft:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_slideleft:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_slideleft:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_slideleft:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_slideleft:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_slideleft {
  0% {
    opacity: 0;
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);

  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
  } 
}
@-webkit-keyframes keyframe_slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes keyframe_slideleft {
  0% {
    opacity: 0;
    -moz-transform: translateX(5%);
  } 
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}


/* Animation to Zoom In */
.anim_zoomIn {
  animation-name: keyframe_zoomIn;
  -webkit-animation-name: keyframe_zoomIn;  
  -moz-animation-name: keyframe_zoomIn;
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  -moz-transition-timing-function: ease-in-out;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  visibility: visible;      
}

.anim_zoomIn:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_zoomIn:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_zoomIn:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_zoomIn:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_zoomIn:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_zoomIn:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_zoomIn:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_zoomIn:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_zoomIn:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_zoomIn:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_zoomIn:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_zoomIn:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_zoomIn:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_zoomIn:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_zoomIn:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_zoomIn:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_zoomIn:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_zoomIn:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_zoomIn:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_zoomIn:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_zoomIn {
0% {
  opacity: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);

} 
100% {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
} 
}
@-webkit-keyframes keyframe_zoomIn {
0% {
  opacity: 0;
  -webkit-transform: scale(0.95);
} 
100% {
  opacity: 1;
  -webkit-transform: scale(1);
}
}
@-moz-keyframes keyframe_zoomIn {
0% {
  opacity: 0;
  -moz-transform: scale(0.95);
} 
100% {
  opacity: 1;
  -moz-transform: scale(1);
}
}

/* Animation to Zoom Out */
.anim_zoomOut {
  animation-name: keyframe_zoomOut;
  -webkit-animation-name: keyframe_zoomOut;  
  -moz-animation-name: keyframe_zoomOut;
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  -moz-transition-timing-function: ease-in-out;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  visibility: visible;      
}

.anim_zoomOut:nth-child(1){ animation-delay: 0s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; }
.anim_zoomOut:nth-child(2){ animation-delay: .10s; -webkit-animation-delay: .10s; -moz-animation-delay: .10s; }
.anim_zoomOut:nth-child(3){ animation-delay: .15s; -webkit-animation-delay: .15s; -moz-animation-delay: .15s; }
.anim_zoomOut:nth-child(4){ animation-delay: .20s; -webkit-animation-delay: .20s; -moz-animation-delay: .20s; }
.anim_zoomOut:nth-child(5){ animation-delay: .25s; -webkit-animation-delay: .25s; -moz-animation-delay: .25s; }
.anim_zoomOut:nth-child(6){ animation-delay: .30s; -webkit-animation-delay: .30s; -moz-animation-delay: .30s; }
.anim_zoomOut:nth-child(7){ animation-delay: .35s; -webkit-animation-delay: .35s; -moz-animation-delay: .35s; }
.anim_zoomOut:nth-child(8){ animation-delay: .40s; -webkit-animation-delay: .40s; -moz-animation-delay: .40s; }
.anim_zoomOut:nth-child(9){ animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s; }
.anim_zoomOut:nth-child(10){ animation-delay: .50s; -webkit-animation-delay: .50s; -moz-animation-delay: .50s; }
.anim_zoomOut:nth-child(11){ animation-delay: .55s; -webkit-animation-delay: .55s; -moz-animation-delay: .55s; }
.anim_zoomOut:nth-child(12){ animation-delay: .60s; -webkit-animation-delay: .60s; -moz-animation-delay: .60s; }
.anim_zoomOut:nth-child(13){ animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s; }
.anim_zoomOut:nth-child(14){ animation-delay: .70s; -webkit-animation-delay: .70s; -moz-animation-delay: .70s; }
.anim_zoomOut:nth-child(15){ animation-delay: .75s; -webkit-animation-delay: .75s; -moz-animation-delay: .75s; }
.anim_zoomOut:nth-child(16){ animation-delay: .80s; -webkit-animation-delay: .80s; -moz-animation-delay: .80s; }
.anim_zoomOut:nth-child(17){ animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s; }
.anim_zoomOut:nth-child(18){ animation-delay: .90s; -webkit-animation-delay: .90s; -moz-animation-delay: .90s; }
.anim_zoomOut:nth-child(19){ animation-delay: .95s; -webkit-animation-delay: .95s; -moz-animation-delay: .95s; }
.anim_zoomOut:nth-child(20){ animation-delay: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; }


@keyframes keyframe_zoomOut {
0% {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);

} 
100% {
  opacity: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
} 
}
@-webkit-keyframes keyframe_zoomOut {
0% {
  opacity: 1;
  -webkit-transform: scale(1);
} 
100% {
  opacity: 0;
  -webkit-transform: scale(0.95);
}
}
@-moz-keyframes keyframe_zoomOut {
0% {
  opacity: 1;
  -moz-transform: scale(1);
} 
100% {
  opacity: 0;
  -moz-transform: scale(0.95);
}
}



.slidediv								{	
-webkit-animation: 	 slide-right 0.3s ease-in-out; /* Safari 4+ */
-moz-animation:    slide-right 0.3s ease-in-out; /* Fx 5+ */
-o-animation:      slide-right 0.3s ease-in-out; /* Opera 12+ */
animation:         slide-right 0.3s ease-in-out; /* IE 10+, Fx 29+ */

}

@keyframes slide-right {
from { transform: translateX(10%); }

}


/*Fade Animation*/
.fadescaleanim {visibility:hidden;}
.fadescale_div {
    animation-name: fadescaledivdiv;
    -webkit-animation-name: fadescaledivdiv;  
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    visibility: visible;      
}

.fadescale_div:nth-child(1){ -webkit-animation-delay: 0s }
.fadescale_div:nth-child(2){ -webkit-animation-delay: .1s }
.fadescale_div:nth-child(3){ -webkit-animation-delay: .2s }
.fadescale_div:nth-child(4){ -webkit-animation-delay: .3s }
.fadescale_div:nth-child(5){ -webkit-animation-delay: .4s }
.fadescale_div:nth-child(6){ -webkit-animation-delay: .5s }


@keyframes fadescalediv {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  } 
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  } 
}
@-webkit-keyframes fadescalediv {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  } 
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}


.pulse {
animation-name: pulse_animation;
animation-duration: 2000ms;
transform-origin:70% 70%;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes pulse_animation {
0% { transform: scale(1); }
30% { transform: scale(1); }
40% { transform: scale(1.08); }
50% { transform: scale(1); }
60% { transform: scale(1); }
70% { transform: scale(1.05); }
80% { transform: scale(1); }
100% { transform: scale(1); }
}
