@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: robotothin;
    src: url(../fonts/robotothin.ttf); 
}
@font-face {
    font-family:robotolight; color:#4c5357;
    src: url(../fonts/robotolight.ttf); 
}
@font-face {
    font-family:robotoblack; color:#4c5357;
    src: url(../fonts/robotoblack.ttf); 
}
*{box-sizing:border-box; -webkit-box-sizing:border-box; font-family: arial; outline: none; border:none;}
html{margin:0; padding:0; width: 100%; height: 100%;}
body{margin:0; padding:0; width: 100%; height: 100%; background: #efefef; font-family: robotolight; }
p,h1,h2,h3,h4,h5,h6{margin:0; padding:2px;}
#base{position:fixed; top:0; right:0; bottom:0; left:0; background:url(../images/wallpaper.jpg) no-repeat center; background-size:cover;}
#statusbar{position:fixed; top:0; right:0; bottom:auto; left:0; height:20px; background:rgba(0,0,0,0.75); z-index: 10;  color:#ccc; font-size:80%;}
#mainbar{position:fixed; top:20px; right:0; bottom:40px; left:0; background:none; z-index: 8;}
#appcontainerhoder {position: absolute; bottom:0; left:0; right:0;}
#mainbar .appscontainer{  color:#fff; height:auto; width:90%; background:rgba(0,0,0,0.5); margin:20px auto; padding:10px; border-radius: 2px;    box-shadow: 0 0 10px rgba(29, 29, 29, 0.66)}
#mainbar .appscontainer .icon { color:#fff; text-decoration: none; width:60px; height:60px; margin:5px; display: inline-block; text-align: center; font-size: 70%;}
#windowframe{display:none; background:rgba(0,0,0,0.5); width: 100%; height: 100%; position: relative;}
#windowframe .bottombar{background: rgb(211, 47, 47); position:absolute; bottom:0; right:0; height:30px; padding:5px; box-shadow: 0 0 2px #000;  }
#taskbar{position:fixed; top:auto; right:0; bottom:0; left:0; height:40px; background:rgba(0,0,0,0.5); z-index: 9;
        padding:5px; }
#tasksearchbar{ height: 100%; width:calc(100% - 40px); max-width: 400px; border-radius: 40px; outline:none; padding: 3px 40px 3px 20px; }
